.documentation-page {
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
  flex: 1;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

@media (min-width: 1440px) {
  .documentation-page {
    left: 256px;
    right: 256px;
  }
}