main {
  display: flex;
  overflow: hidden;
}

article {
  width: 100%;
  overflow-y: auto;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
}

*::view-transition-group(*) {
  animation-duration: 0.25s;
}