/* 
1 App background
2 Subtle background
3 UI element background
4 Hovered UI element background
5 Active / Selected UI element background
6 Subtle borders and separators
7 UI element border and focus rings
8 Hovered UI element border
9 Solid backgrounds
10 Hovered solid backgrounds
11 Low-contrast text
12 High-contrast text 
*/

:root {
  /* Component-internal spacing */
  --space-2xs: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 0.75rem; /* 12px */
  --space-md: 1rem; /* 16px */

  /* Layout spacing */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-2xl: 3rem; /* 48px */

  /* Page-level spacing */
  --space-3xl: 4rem; /* 64px */
  --space-4xl: 6rem; /* 96px */
  --space-5xl: 8rem; /* 128px */

  /* Icon sizes */
  --size-icon-xs: 0.75rem; /* 12px */
  --size-icon-sm: 1rem; /* 16px */
  --size-icon-md: 1.25rem; /* 20px */
  --size-icon-lg: 1.5rem; /* 24px */
  --size-icon-xl: 2rem; /* 32px */

  /* Font sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Radius */
  --radius-xs: 0.125rem; /* 2px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem; /* 8px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-full: 9999px; /* pills, circles */

  /* Colors */
  --color-app-background: #fcfcfc;
  --color-subtle-background: #f9f9f9;
  --color-ui-element-background: #f0f0f0;
  --color-hovered-ui-element-background: #e8e8e8;
  --color-active-ui-element-background: #e0e0e0;
  --color-subtle-border: #d9d9d9;
  --color-ui-element-border: #cecece;
  --color-hovered-ui-element-border: #bbbbbb;
  --color-solid-background: #8d8d8d;
  --color-hovered-solid-background: #838383;
  --color-low-contrast-text: #646464;
  --color-high-contrast-text: #202020;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    /* Colors */
    --color-app-background: #111111;
    --color-subtle-background: #191919;
    --color-ui-element-background: #222222;
    --color-hovered-ui-element-background: #2a2a2a;
    --color-active-ui-element-background: #313131;
    --color-subtle-border: #3a3a3a;
    --color-ui-element-border: #484848;
    --color-hovered-ui-element-border: #606060;
    --color-solid-background: #6e6e6e;
    --color-hovered-solid-background: #7b7b7b;
    --color-low-contrast-text: #b4b4b4;
    --color-high-contrast-text: #eeeeee;
  }
}
