.sidebar-overview {
  display: none;
  background-color: var(--color-subtle-background);
  min-width: 256px;
  border-left: 1px solid var(--color-subtle-border);
  flex-direction: column;
  padding: var(--space-md);
  gap: var(--space-2xs);
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  h4 {
    color: var(--color-low-contrast-text);
  }

  a {
    color: var(--color-low-contrast-text);

    &[data-active] {
      color: var(--color-high-contrast-text);
      position: relative;
    }

    &[data-active]::before {
      content: "";
      position: absolute;
      background-color: var(--color-accent-border);
      width: 2px;
      top: 0;
      left: calc(var(--space-md) * -1);
      bottom: 0;
      border-radius: var(--radius-sm);
      view-transition-name: border-animation;
    }
  }
}

@media (min-width: 1440px) {
  .sidebar-overview {
    display: flex;
  }
}